{% extends "base.html" %}

{% block title %}  TODOLIST  {% endblock %}

{% block style %}
  <link rel="stylesheet" href="/static/css/main.css">
  <style>
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header .socket {
      padding-right: 25px;
      font-size: 18px;
    }
  </style>
{% endblock %}

{% block header %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block content %}
  <main class="m-login">
    <section class="login">
      <h3 class="title">NBA Playoff 2018</h3>
      <form action="">
        <label for="username">用户名:</label>
        <input type="text" id="username">
        <label for="password">密码:</label>
        <input type="password" id="password">
        <label for="cfpassword">确认密码:</label>
        <input type="password" id="cfpassword">
        <label for="email">邮箱:</label>
        <input type="text" id="email">
        <div>
          <input type="checkbox" name="remeber" id="remember">
          记住我
          <a class="to-register">立即注册</a>
        </div>
        <a href="#" class="j-login btn success">login</a>
      </form>
    </section>
  </main>
{% endblock %}
