<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %} Document {% endblock %}</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/iconfont/iconfont.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block style %}
  {% endblock %}
</head>
<body>
  {% block header %}
    <header class="m-header">
      <p class="avatar">
        <img src="../static/images/logo_godness.png" alt="logo">
      </p>
      <h1>Flask</h1>
      <div class="logout">
        <i class="icon iconfont icon-logout" title="out"></i>
      </div>
    </header>
  {% endblock %}

  {% block nav %}
    <nav class="m-nav">
      <ul>
        <li class="active">
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/user">Users</a>
        </li>
        <li>
          <a href="/todolist">Todo</a>
        </li>
        <li>
          <a href="/ws">Socket</a>
        </li>
      </ul>
    </nav>
  {% endblock %}
    
  {% block content %}
    <main class="main pad20">
      <a href="#" class="btn primary users">Users</a>
    </main>
  {% endblock%}
  
  {% block footer %}
  {% endblock%}
  
  {% block script %}
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/util.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  {% endblock%}
</body>
</html>